EPD==7.3
Examples==7.3
Jinja2==2.6
PIL==1.1.7
Pygments==1.4
PythonDoc==2.7.3
appinst==2.1.2
apptools==4.1.0
bearcart==0.1.3
casuarius==1.0
chaco==4.2.0
cloud==2.4.6
configobj==4.7.2
distribute==0.6.26
enable==4.2.0
enaml==0.2.0
enstaller==4.5.3
etsproxy==0.1.1
freetype==2.4.4
httplib2==0.8
idle==2.7.3
ipython==0.12.1
kernmagic==0.1.0
libjpeg==7.0
libpng==1.2.40
matplotlib==1.1.0
nose==1.1.2
numpy==1.6.1
oauth2==1.5.211
pandas==0.12.0
ply==3.4
pyaudio==0.2.4
pyface==4.2.0
pyglet==1.1.4
pymongo==2.5
python-dateutil==1.5
pytz==2011n
pyzmq==2.1.11
scikit-learn==0.14.1
scipy==0.10.1
tornado==2.2
traits==4.2.0
traitsui==4.2.0
vboxapi==1.0
vincent==0.2.1
virtualenv==1.10.1
wsgiref==0.1.2
wxPython==2.8.10.1
