Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
beautifulsoup4==4.3.2
itsdangerous==0.24
neo4jrestclient==2.1.0
numpy==1.9.1
pandas==0.15.2
py2neo==2.0.1
python-dateutil==2.3
pytz==2014.10
requests==2.5.0
six==1.8.0
wsgiref==0.1.2
xlrd==0.9.3
