@import url(https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900,300italic,400italic,700italic]);

body {  
  background-color: #eee;
  margin: 0;  
  font-size: 12px;  
  padding-bottom: 0px;
  margin-bottom: 0px;
  overflow: hidden;
}

/*body h3 {
  font-family: "Merriweather", "PT Serif", Georgia, serif;
*/}

#graph {
  display: block; 
  position: absolute;
  width: 100%; 
  margin: 0 auto;
}

.uiwidget {
  position: absolute;
  top: 20px;
  width: 310px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.uihandle {
  background-color: rgba(255, 255, 255, 0.75);
  position: relative;
  top: 0px;
  height: 40px;
  padding: 10px;
}

.uihandle-left {
  float:left;
}

.uihandle-right {
  float:right;
}

.uihandle a {
  text-decoration: none;
}

.uiwidget-left {
  left: -210px;  
}

.uiwidget-left.out {
  left: 10px;
}

.uiwidget-right {
  right: -210px;
}

.uiwidget-right.out {
  right: 10px;
}

.uiwidget .handlelabel {
  display: none;
}


.uiwidget h3 {
  margin-top: 0px;
}

input[type=range]{
  width: 80%;
}

label input[type=checkbox] {
  margin-top: 2px;  /*Depends on font-size*/
}

output {
  color: #428bca;
}

.formpanel {
  width: 220px;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 10px;
  margin-bottom: 10px;
  /*border-radius: 10px;*/
}

.uiwidget-left .formpanel {
  float: left;
}

.uiwidget-right .formpanel {
  float: right;
}

#fetchbutton, #resetbutton {
  /*width: 75px;*/
}

.form-control {
  /*background: rgba(255,255,255,0.5);*/
}

svg {
  cursor: move;
}

.link {
  stroke: #bbb;
  fill: none;
  cursor: default;
}

.junction {
  stroke-dasharray: 3, 3;
  stroke: #000;
}

.link.hidden {
  display: none;
}

circle {
  stroke-width: 1px;
  stroke: #fff;
  cursor: pointer;
}

circle.fixed {
  stroke: #000;
  stroke-width: 2px;
}

circle.selected {
  stroke: #000;
  stroke-width: 2px;
  stroke-dasharray: 6 4;
}

.node-label {
  font-size: 8px;
  font-style: normal;
  font-family: Helvetica, Arial;
  pointer-events: none;
}

.popover{
  background-color: rgba(250,250,250,0.85);
}