body {
  background-color: #eee;
  margin: 0;  
  font-size: 12px;
}

#graph {
  display: block; 
  width: 100%; 
  margin: 0 auto;
}

.uiwidget {        
  width: 220px;
  /*font-size: 12px;*/
}

#menu-widget {
  position:absolute;
  top: 20px;
  left: 20px;  
}

#node-widget {
  position: fixed;
  top: 20px;
  right: 20px;
}

.uiwidget h3 {
  margin-top: 0px;
}

input[type=range]{
  width: 80%;
}

label input[type=checkbox] {
  margin-top: 2px;  /*Depends on font-size*/
}

output {
  color: #428bca;
}

.formpanel {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

#fetchbutton, #resetbutton {
  /*width: 75px;*/
}

.form-control {
  /*background: rgba(255,255,255,0.5);*/
}

svg {
  cursor: move;
}

.link {
  stroke: #bbb;
  fill: none;
  cursor: default;
}

.junction {
  stroke-dasharray: 3, 3;
  stroke: #000;
}

.link.hidden {
  display: none;
}

circle {
  stroke-width: 1px;
  stroke: #fff;
  cursor: pointer;
}

circle.fixed {
  stroke: #000;
  stroke-width: 2px;
}

circle.selected {
  stroke: #000;
  stroke-width: 2px;
  stroke-dasharray: 6 4;
}

.node-label {
  font-size: 8px;
  font-style: normal;
  font-family: Helvetica, Arial;
  pointer-events: none;
}

.popover{
  background-color: rgba(250,250,250,0.85);
}