body,
input,
button,
select,
textarea,
.navbar-search .search-query {
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
	background: #fff;
}


.table { 
	empty-cells: show; 
}

.year,
.month {
    float:left;
    font-family: sans-serif;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #aaa;
    padding: 3px;
    border-radius: 3px;
    color: black;
    background: white;
    cursor: pointer;
}

.year:hover,
.month:hover,
.year.selected:hover,
.month.selected:hover  {
    background: #eee;
}


.year.selected,
.month.selected{
    color: red;
    background: white;
}  

.month.inactive {
    color: #aaa;
    background: #ddd;
}

.years,
.months {
    float:left;
    margin-left: 20px;
}

.mybadge {
    font-family: 'Open Sans', sans-serif;
    color: #29323a;
    line-height: 1.43;
    text-transform: uppercase;
    text-align: right;
    font-weight: 600;
    font-size: 16px;
    padding-right: 50px;
    display: block;
}

.mybadge .number {
    color: #32a0ee;
    font-size: 25px;
    margin-right: 15px;
}

.mybadge .mylabel {
    color: #b4b8bb;
    font-weight: lighter;
    font-family: 'Lato', 'Open Sans';
    font-style: italic;
    font-size: 13px;
    
}

.select-style {
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("../images/arrowdown.gif") no-repeat 90% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}

/* Sticky footer styles
-------------------------------------------------- */


/* Set the fixed height of the footer here */
.footer {
  height: 60px;
  margin-top: 20px;
  padding-top: 20px;
  padding-left: 30px;
  background-color: #f5f5f5;
  line-height: 20px;
}
