{% extends "base.html" %}  
  
{% block jumbo %}
<div class="jumbo-bg"></div>
<div class="jumbotron">
  <h1>Elegans</h1>
  <p class="lead">A connectome explorer for the nematode worm <em>C. elegans</em></p>
  <a href="{{ url_for('index')}}" type="button" id="snbutton" class="btn btn-warning">Explore Now!</a>
</div>
{% endblock %}  

{% block content %}
<section id="content" class="content">  
  <h3><img src="{{ url_for('static', filename='images/worm.svg') }}" width="28", height="28">The Worm</h3>
  <p>
    <a href="https://en.wikipedia.org/wiki/Caenorhabditis_elegans"><em>Caenorhabditis elegans</em></a> (or simply <em>C. elegans</em>) is a nematode worm of particular interest to many researchers as it was the first multicellular organism to have its whole genome sequenced, and at least for now, remains the only organism whose connectome (neuronal wiring diagram) has been completed in its entirety.
  </p>
  <p>
    <a href="{{ url_for('index')}}">Elegans</a> is a tool that allows visual and interactive exploration of this connectome. In its current form one of its purposes is to give people interested in modelling specific worm behaviours a tool to extract subcircuits that may underlie the behaviour in question. 
  </p>  

  <h3><span class="fa fa-table"></span>Data sources</h3>
  <p>
    The adult <em>C. elegans</em> hermaphrodite worm has 302 neurons. The majority of these (282 neurons) belong to the large and densely interconnected somatic nervous system, while a smaller number (20 neurons) makes up the pharyngeal nervous system. In its present form the <em>Elegans</em> app covers the connectivity between the 279 somatic neurons whose interconnections are best established. 
  </p>
  <p>
    The connectome data the app is based on was first discussed by Chen et al. (2006) <sup><a href="#1">1</a></sup>, a full analysis of which can be found in a more recent publication by Varshney et al. (2011) <sup><a href="#2">2</a></sup>. This data is made available on the <a href="http://www.wormatlas.org/neuronalwiring.html">connectivity pages of the Worm Atlas</a> <sup><a href="#3">3</a></sup>, where further information about its origin can also be found.
  </p>
  <p>
    The primary data is supplemented with two-dimensional position information from Choe et al., 2004 <sup><a href="#4">4</a></sup>; information about neuron groups made available in the Worm Web project <sup><a href="#5">5</a></sup>; and hyperlinks to corresponding pages in the <a href="http://www.wormatlas.org/">WormAtlas</a> <sup><a href="#3">3</a></sup> scraped from the same website.
  </p>

  <h3><span class="fa fa-database"></span>Database</h3>
  <p>
    The preprocessed and joined connectome is maintained in <a href="http://neo4j.com/">Neo4j</a>, a graph database in which nodes and edges are stored along with their meta-information. Neo4j offers a powerful query language (<a href="http://neo4j.com/developer/cypher-query-language/">cypher</a>) that is used here to find subgraphs of the full connectome. An example use-case is the identification of the neural subcircuit that connects a set of sensory neurons to a set of motor neurons. Using additional constraints such as the minimum number of synapses per connection, or a maximum path length, the Elegans app translates this goal into a cypher query and returns the corresponding circuit as json data ready to be visualized.
  </p>

  <h3><img src="{{ url_for('static', filename='images/molecule.svg') }}" width="28", height="28">Visualization</h3>
  <p>
    The network visualization of the connectome is done entirely with d3.js, a client-side javascript framework for producing interactive visualizations in the browser. Since with d3 all visualized elements are present in the DOM this allows for intuitive interaction with the network. Each neuron can be selected to display detailed properties, highlighted to show its 1st degree neighbourhood, and manually pinned to a fixed position. By default the network is displayed using a modified force-layout, in which sensory, inter- and motor neurons are adjusted to roughly move into different layers. Further information regarding usage is provided in the app itself.
  </p>

  <h3><span class="fa fa-file-text"></span>References</h3>
  <ol class="bib">
    <li><a name="5"></a> 
      Nikhil Bhatla, <a href="http://wormweb.org/">WormWeb.org</a>
    </li>
    <li><a name="1"></a>
      Chen, Hall, and Chklovskii (2006). <em>Wiring optimization can relate neuronal structrure and function.</em> PNAS 103: 4723-4728 (<a target="_blank" href="http://dx.doi.org/10.1073/pnas.0506806103">doi:10.1073/pnas.0506806103</a>).
    </li>
    <li><a name="4"></a>
      Choe Y, McCormick BH and Koh W (2004). <em>Network connectivity analysis on the temporally augmented C. elegans web: A pilot study</em>. Society of Neuroscience Abstracts 30:921.9. <a href="http://www.dynamic-connectome.org/?page_id=25">Dynamic Connectime Lab data.</a>
    </li>
    <li><a name="2"></a>
      Varshney, Chen, Paniaqua, Hall and Chklovskii (2011). <em>Structural properties of the C. elegans neuronal network.</em> PLoS Comput. Biol. 3:7:e1001066 (<a target="_blank" href="http://dx.doi.org/10.1371/journal.pcbi.1001066">doi:10.1371/journal.pcbi.1001066</a>).
    </li>
    <li><a name="3"></a>
      WormAtlas, Altun, Z.F., Herndon, L.A., Crocker, C., Lints, R. and Hall, D.H. (ed.s) 2002-2015. <a href="">http://www.wormatlas.org</a>
    </li>
  </ol>
  
</section>
{% endblock %}


{% block js_footer %}
{{ super() }} 
<script type='text/javascript'>

$(function() {
  var jumboHeight = $('.jumbotron').outerHeight();  
  function parallax() {    
    var scrolled = $(window).scrollTop();
    var top = parseInt($('.jumbo-bg').css('top').slice(0,-2));
    var newTop = 52 - scrolled/2;
    var newTop = newTop > 52 ? 52 : newTop; 
    //$('.jumbo-bg').css('height', (jumboHeight-scrolled) + 'px');
    $('.jumbo-bg').css('top', newTop + 'px');
  }


  $(window).scroll(function(e){
      parallax();
  });
});
</script>
{% endblock %}

