<!doctype html>
<html lang="en">
  <head>
    {% block head %}
      <title>{% block title %}Worm Circuitry Explorer{% endblock %}</title>      
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="A C. elegans connectome explorer / neural network visualization">
      <meta name="keywords" content="C. elegans, Caenorhabditis, nematode, explorer, visualization, network, graph, neural, nervous system, brain, connectome">
      <meta name="author" content="Thomas Buhrmann">
      <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='css/bootstrap-custom.css') }}">
      <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='css/style.css') }}">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" >
      <link rel="shortcut icon" href="{{ url_for('static', filename='images/worm-32.png') }}"> 
      <script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }}; </script>
    {% endblock %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-58616029-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>

  <body>    
    <!-- Header -->
    <div class="container-fluid">
      <div class="header">
        <div class="container">
          <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ url_for('index') }}">
                <!-- <img src="{{url_for('static', filename='images/icon.png')}}" width="16" height="16"> -->
               WCE
              </a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('discuss') }}">Discuss</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div><!-- Header -->

    {% block mainwrapper %}
    {% block jumbo %}
    {% endblock %}
    <div class="container main-content">     
      <div class="row row-centered">
        <div class="col-centered col-max col-min col-sm-12 col-md-10 col-lg-10 main-content">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div><!-- container -->
    {% endblock %}

    <!-- footer -->
    <div class="container-fluid aw-footer"> 
      <div class="row row-centered">
        <div class="col-md-3 col-centered text-center">
          <h4>Author</h4>
          <ul class="list-unstyled my-list-style">
            <li><a href="https://buhrmann.github.io/">Homepage</a></li>
            <li><a href="http://www.ias-research.net/people/thomas-buhrmann/">Academic Home</a></li>
            <li><a href="http://github.com/buhrmann">Github</a></li>
            <li><a href="http://www.linkedin.com/in/thomasbuhrmann">LinkedIn</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-centered text-center">
          <h4>Links</h4>
          <ul class="list-unstyled my-list-style">
            <li><a href="https://en.wikipedia.org/wiki/Caenorhabditis_elegans">C. elegans</a></li>
            <li><a href="http://www.wormatlas.org/">Worm Atlas</a></li>
            <li><a href="http://www.openworm.org/">Open Worm</a></li>
            <li><a href="http://wormweb.org/neuralnet#c=BAG&m=1">Worm Web</a></li>                        
          </ul>
        </div>
        <div class="col-md-3 col-centered text-center">
          <h4>Credits</h4>
          <ul class="list-unstyled my-list-style">
            <li>Created by<br><a href="https://buhrmann.github.io/" target="_blank">Thomas Buhrmann</a></li>
            <li>Idea<br><a href="http://mypage.iu.edu/~edizquie/" target="_blank">Eduardo Izquierdo</a></li>
          </ul>
        </div>
      </div>
    </div>

    {% block js_footer %}
    <script type='text/javascript' src="https://code.jquery.com/jquery-2.1.3.min.js"> </script>
    <script type="text/javascript" src={{url_for('static', filename='js/bootstrap.min.js')}}></script>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-58616029-1', 'auto');
        ga('send', 'pageview');
      </script>    
    {% endblock %}    
  </body>
</html>
