{% extends "layout.html" %}  

{% block content %}

  {% if data %}
    <div id="graph"></div>
     <div class="uiwidget" id="menu-widget">
      <form>        
        <div class="formpanel">
          <h3>Subgraph</h3>
          Choose two neuron groups to see the subgraph connecting them (given minimum connection weight and path length).
          <p><div class="input-group input-group-sm">
            <input id="group1" type="search" placeholder="Group" value="ASE" size="4" maxlength="4" class="form-control"/>
            <div class="input-group-btn">
             <button type="button" id="dirButton" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">-></button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">-></a></li>
                <li><a href="#">-</a></li>
              </ul>
            </div>
            <input id="group2" type="search" placeholder="Group" value="SMB" size="4" maxlength="4" class="form-control"/>
          </div></p>
        
          <div class="form-group">
            <label for="subwslider">Min weight [1-10]: </label> <output for="subwSlider" id="subwlabel">1</output>
            <input type="range" id="subwslider" name="subw" value="1" min="1" max="10" oninput="document.getElementById('subwlabel').value = value;">            
          </div>
          <div class="form-group">
            <label for="subpslider">Max path length [1-4]: </label> <output for="subpSlider" id="subplabel">3</output>
            <input type="range" id="subpslider" name="subp" value="3" min="1" max="4" oninput="document.getElementById('subplabel').value = value;">            
          </div>
          <button class="btn btn-default" type="button" onclick="subGraph();">Fetch!</button>
          <button class="btn btn-default" type="button" onclick="graphReset();">Reset</button>
        </div>

        <div class="formpanel">
          <h3>Visibility</h3>
          Toggle visibility of neurons and synapses.
          <p><div class="btn-group btn-group-sm" id="prune-radio" data-toggle="buttons-radio">
            <button id="prune1" type="button" data-toggle="button" name="option" value="1" class="btn btn-default active">Prune</button>
            <button id="prune2" type="button" data-toggle="button" name="option" value="2" class="btn btn-default">Hide</button>
          </div></p>
          <div class="form-group">
            <label for="ndegslider">Node degree [0-200]:</label> <output for="thresholdSlider" id="ndeglabel">2</output>
            <input type="range" id="ndegslider" name="ndeg" value="2" min="0" max="200" oninput="filterNDeg(value)">            
          </div>
          <div class="form-group">
            <label for="wminslider">Min weight [0-40]:</label> <output for="wminslider" id="wminlabel">3</output>
            <input type="range" id="wminslider" name="wmin" value="3" min="0" max="40" oninput="filterWMin(value)">            
          </div>
          <div class="checkbox">
            <label><input type="checkbox" onchange="toggleArrows(this)">Arrows</label>
          </div>
        </div>
      </form>

      <div class="formpanel">
        <h3>Statistics</h3>
        <ul class="list-group">
          <li class="list-group-item"><span class="badge stats-item" id="stats-n">14</span>Neurons</li>
          <li class="list-group-item"><span class="badge stats-item" id="stats-s">7</span>Synapses</li>
        </ul>
      </div>
    </div>

    <div class="uiwidget" id="node-widget">
      <div class="formpanel">
        <h3 id="node-heading">Node Info</h3>
        <span id="nodeinfo"></span>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block js_footer %}
{{ super() }} 
	<script type="text/javascript" src={{url_for('static', filename='js/d3.v3.min.js')}}></script>
  <script type="text/javascript" src={{url_for('static', filename='js/crossfilter.min.js')}}></script>  
  <script type="text/javascript" src={{url_for('static', filename='js/colorbrewer.v1.min.js')}}></script>  
  <script>
  $(function() {
    $('#prune-radio button').click(function() {
      $(this).addClass('active').siblings().removeClass('active'); });
    
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};


    $(".dropdown-menu li a").click(function(){
      $(this).parents(".input-group-btn").find('.btn').text($(this).text());
      $(this).parents(".input-group-btn").find('.btn').val($(this).text());
    });
  });
  </script>
  <script type="text/javascript" src={{url_for('static', filename='js/d3graph.js')}}></script>    
  <script type="text/javascript">graph("#graph", {{data|safe}});</script>
{% endblock %}