{% extends "layout.html" %}  

{% block content %}

  {% if data %}
    <div id="graph"></div>
     <div class="uiwidget">
      <form>        
        <h2> Subgraph </h2>
        <p><div class="input-group input-group-sm">
          <input id="group1" type="search" placeholder="Group" size="4" maxlength="4" class="form-control"/>
          <!-- <span class="input-group-addon">g1-g2</span> -->
          <div class="input-group-btn">
           <button type="button" id="dirButton" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">-></button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">-></a></li>
              <li><a href="#">-</a></li>
            </ul>
          </div><!-- /btn-group -->
          <input id="group2" type="search" placeholder="Group" size="4" maxlength="4" class="form-control"/>
        </div></p>
        <p><label for="subwslider">Min weight [1-10]</label>
        <input type="range" id="subwslider" name="subw" value="1" min="1" max="10" oninput="document.getElementById('subwlabel').value = value;">
        <output for="subwSlider" id="subwlabel">1</output></p>
        <p><label for="subpslider">Max path length [1-4]</label>
        <input type="range" id="subpslider" name="subp" value="1" min="1" max="4" oninput="document.getElementById('subplabel').value = value;">
        <output for="subpSlider" id="subplabel">1</output></p>
        <button class="btn btn-default" type="button" onclick="subGraph();">Fetch!</button>
        <button class="btn btn-default" type="button" onclick="graphReset();">Reset</button>

        <h2> Show </h2>
        <p><div class="btn-group btn-group-sm" id="prune-radio" data-toggle="buttons-radio">
          <button id="prune1" type="button" data-toggle="button" name="option" value="1" class="btn btn-default active">Prune</button>
          <button id="prune2" type="button" data-toggle="button" name="option" value="2" class="btn btn-default">Hide</button>
        </div></p>
        <p><label for="ndegslider">node degree [0-200]</label>
        <input type="range" id="ndegslider" name="ndeg" value="2" min="0" max="200" oninput="filterNDeg(value)">
        <output for="thresholdSlider" id="ndeglabel">2</output></p>
        <p><label for="wminslider">min weight [0-40]</label>
        <input type="range" id="wminslider" name="wmin" value="3" min="0" max="40" oninput="filterWMin(value)">
        <output for="wminslider" id="wminlabel">3</output></p>      
      </form>
    </div>
  {% endif %}
{% endblock %}

{% block js_footer %}
{{ super() }} 
	<script type="text/javascript" src={{url_for('static', filename='js/d3.v3.min.js')}}></script>
  <script type="text/javascript" src={{url_for('static', filename='js/crossfilter.min.js')}}></script>  
  <script type="text/javascript" src={{url_for('static', filename='js/colorbrewer.v1.min.js')}}></script>  
  <script>
  $(function() {
    $('#prune-radio button').click(function() {
      $(this).addClass('active').siblings().removeClass('active'); });
    
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};


    $(".dropdown-menu li a").click(function(){
      $(this).parents(".input-group-btn").find('.btn').text($(this).text());
      $(this).parents(".input-group-btn").find('.btn').val($(this).text());
    });
  });
  </script>
  <script type="text/javascript" src={{url_for('static', filename='js/d3graph.js')}}></script>    
  <script type="text/javascript">graph("#graph", {{data|safe}});</script>
{% endblock %}