<!doctype html>
<html lang="en">
  <head>
    {% block head %}
      <title>{% block title %}elegans{% endblock %}</title>      
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="keywords" content="">
      <meta name="author" content="">            
      <link rel="stylesheet" type='text/css' href="https://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
      <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='css/style.css') }}">
      <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='css/d3.css') }}">
      <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
      <script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }}; </script>
    {% endblock %}
  </head>

  <body>
    <div id="container">
      <div id="row1">
    {% block content %}
    {% endblock %}
      </div>
    </div>

    {% block js_footer %}
      <script type='text/javascript' src="https://code.jquery.com/jquery-2.1.3.min.js"> </script>
      <script type='text/javascript' src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"> </script>
      <script type="text/javascript" src={{url_for('static', filename='js/bootstrap.min.js')}}></script>
    {% endblock %}
  </body>
</html>
