<!doctype html>
<html lang="en">
  <head>
    {% block head %}
      <title>{% block title %}Elegans{% endblock %}</title>      
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="keywords" content="">
      <meta name="author" content="">
      <link rel="stylesheet" type='text/css' href="https://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
      <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='css/d3.css') }}">
      <link rel="shortcut icon" href="{{ url_for('static', filename='images/worm-32.png') }}"> 
      <script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }}; </script>
    {% endblock %}
  </head>

  <body>
    {% block content %}
    {% endblock %}
    <div class="topwrapper out">
      <div class="introheader">
        <h3>Elegans - a connectome explorer for the nematode worm <em>C. elegans</em></h3>
        <p>
          Elegans is a tool that allows visual and interactive exploration of the connectome of <em>C. elegans</em>. In its current form its main purpose is to give researchers interested in modelling a specific worm behaviour the tool to extract subcircuits that may underlie the behaviour in question.
        </p>
        <p>
          For background information about this app see the <a href="{{ url_for('about')}}">About section</a>.
        </p>
        
        <h4>Usage</h4>
        <h5>Manipulation of neurons in the network view</h5>
        <p>
          <dl class="dl-horizontal" style="text-align: left">
            <dt>Hover</dt>
            <dd>Highlights first-degree neighbourhood of hovered neuron.</dd>
            <dt>Click</dt>
            <dd>Shows neuron metadata in the Neuron panel on the right. The selected neuron will be indicated by a dashed outline.</dd>
            <dt>Drag</dt>
            <dd>Manually moves and pins a neuron to a specific position. Pinned neurons are indicated with a solid black outline.</dd>
            <dt>Dbl-click</dt>
            <dd>Releases a pinned neuron.</dd>
          </dl>
          In addition, dragging or swiping the background moves and zooms the network view respectively.
        </p>
        <h5>UI controls</h5>
        <p>
          The panels on the left control which part of the full network is currently available in the browser (Subgraph panel), and which elements of the network are currently visible (Visibility panel). It also allows you to find a single neuron by name. 
        </p>
        <h5>Extracting a subcircuit</h5>
        <p>
          First choose two or more neuron groups in the Subgraph panel. Select whether you care about the direction of connectivity (e.g. from sensory to motor neurons), or whether you require all bidirectional paths. Then choose filter settings to constrain the subcircuits maximal path lengths (longer is more costly) and minimum number of synapses per connection. Now Fetch the results. In order to then add back in all existing connections between the returned neurons (irrespective of filter settings), click Expand. 
        </p>
        <h5>Information panels</h5>
        <p>
          The UI panels on the right display information about the currently visible network as well as individual nodes. It also offers a means to export the current network in various formats.
        </p>
       <!--  For information about the data used to construct the network visualization, and the underlying technology, <a href="{{ url_for('about')}}">check here</a>. -->
      </div>
      <div class="uihandle uihandle-top" id="tophandle">
        <a href="#">
          <span class='glyphicon glyphicon-chevron-up'></span>
        </a>            
      </div>
    </div>
    
    {% block js_footer %}
      <script type='text/javascript' src="https://code.jquery.com/jquery-2.1.3.min.js"> </script>
      <script type='text/javascript' src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"> </script>
      <script type="text/javascript" src={{url_for('static', filename='js/bootstrap.min.js')}}></script>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-58616029-1', 'auto');
        ga('send', 'pageview');
      </script>
    {% endblock %}
  </body>
</html>
